@import 'variables';
@import 'utilities';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Navbar
nav {
  background: $main-color;
  color: $light-color;
  width: 100%;
  height: 6rem;
  // position: sticky;
  // top: 0;
  // left: 0;
  
  div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;

        i {
          margin-right: 10px;
        }
    }

      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-right: 50px;
      }
      a {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        color: $light-color;
        cursor: pointer;
        &:hover {
          background: $hover-color;
          color: #000;
        }
      }
  }

}

// Spinner linear
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $hover-color;
  font-size: 10px;
  margin: 10px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

// login
#login {
  form {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  h4 {
    text-align: center;
  }
}

// TICKETS FILTER
div.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

form.filters {
  width: 300px;
  display: flex;
  flex-direction: column;
  + button {
    width: 300px;
  }
}

#ticket-filter {
  width: 300px;
  display: flex;
  flex-direction: column;
  + button {
    width: 300px;
  }
}

#img {
  text-align: center;
  a {
    text-decoration: none;
    display: block;
    width: 100px;
    height: 30px;
    margin: 5px auto;
    padding: 5px;
    &:hover {
      background: $main-color;
      color: $light-color;
    }
  }
}

#archive {
  form {
    margin: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  h4 {
    text-align: center;
  }
}

#archive-table {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  tr:nth-child(1) {
    font-weight: bold;
    background: $header-color;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  div {
    font-size: 0.8rem;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 0.8rem;
    background: rgba(150, 150, 150, 0.4);
    table {
      text-align: left;
      border: none;
      tr, td {
        border: none;
        border-bottom: 1px solid #EEEEEE;
      }
    }
  }
}

@media(max-width: 768px) {
  nav {

    height: auto;
    width: 100%;
    
    div.container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .logo {
        max-width: 10px auto !important;
      }

        #menu {
          display: flex;
          flex-direction: row;
        }

        h3 {
          margin: 5px auto;
        }
  
        ul {
          margin: 0;
          padding: 5px;
          list-style: none;
          display: flex;
          flex-direction: row;
          margin-right: 60px;
        }
        a {
          display: block;
          padding: 15px;
        }
    }
  
  }
  div.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
  form.filters {
    width: 200px;
    display: flex;
    flex-direction: column;
    + button {
      width: 200px;
    }
  }
  
  #ticket-filter {
    width: 200px;
    display: flex;
    flex-direction: column;
    + button {
      width: 200px;
    }
  }
}

@media(max-width: 470px) {
  nav {

    height: auto;
    width: 100%;
    
    div.container {

        width: 370px;
        padding: 0;

        #menu {
          display: flex;
          flex-direction: column;
        }
  
        ul {
          margin: 0;
          padding: 5px;
          margin-right: 0px;

          a {
            padding: 7px;
          }
        }
    }
  
  }
  div.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
  form.filters {
    width: 150px;
    display: flex;
    flex-direction: column;
    + button {
      width: 150px;
    }
  }
  
  #ticket-filter {
    width: 150px;
    display: flex;
    flex-direction: column;
    + button {
      width: 150px;
    }
  }
}

.refresh-logs {
  color: $main-color;
  cursor: pointer;
  transition: transform 1s;
  &:hover {
    color: $success-color;
    transform: rotate(360deg);
  }
}
#reset-logs {
  display: inline-block;
  margin-left: 20px;
  color: $danger-color;
  cursor: pointer;
  transition: transform 1s;
  &:hover {
    color: $main-color;
    transform: rotate(360deg);
  }
}

#archive-download {
  cursor: pointer;
  position: fixed;
  border-radius: 50px;
  color: $main-color;
  bottom: 30px;
  left: 30px;
  &:hover {
    color: $hover-color;
  }
}
